@model TheQuyen.OnlinePainting.Data.Models.Customer

@{
    ViewData["Title"] = "Delete";
    Layout = "_NewLayout";
}

<h1 class="text-center text-danger">Delete</h1>

<h3 class="text-center">Bạn có chắc xóa @Html.DisplayFor(model => model.Name) ?</h3>
<div class="card table-responsive">
    <div class="card-body">

        <h4>Khách Hàng</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="CustomerId" />
            <input type="submit" value="Xóa" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Hủy</a>
        </form>
    </div>
</div>